* {
  margin: 0;
  padding: 0;
}

/* Navbar Styles */

nav {
  margin: 0.5rem 1rem;
  font-family: "Archivo", sans-serif;
  font-size: 0.9rem;
}

.joinus {
  background: rgb(247, 147, 30);
  background: linear-gradient(
    90deg,
    rgba(247, 147, 30, 1) 0%,
    rgba(255, 0, 255, 1) 35%,
    rgba(94, 0, 255, 1) 100%
  );
  border: none;
  padding: 0.5rem 1.25rem;
  border-radius: 5px;
  margin-left: 1rem;
  color: white;
  font-weight: 700;
}

.nlogo {
  width: 8rem;
}

/* First Section Styles */

.first-section {
  padding: 13vh 2rem;
  background-color: #f5bc9f;
}

.fsheading {
  font-family: "Archivo", sans-serif;
  font-size: 2.1rem;
  line-height: 2.25rem;
  font-weight: 800;
  background: -webkit-linear-gradient(
    rgba(247, 147, 30, 1) 0%,
    rgba(255, 0, 255, 1) 35%,
    rgba(94, 0, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fstagline {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 600;
}

.fsbgs {
  position: relative;
}

.topshape {
  position: absolute;
  width: 100vw;
  height: 8vh;
  top: 0;
}

.bottomshape {
  position: absolute;
  width: 100vw;
  height: 8vh;
  bottom: 0;
}

.fsboxes {
  margin-top: 2rem;
}

.fsbox {
  margin: 0.5rem;
  background-color: #ffffff;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.fsbox p {
  margin: 0;
}

.fsbheading {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.fsbtagline {
  font-weight: 00;
  font-size: 1.1rem;
}

@media only screen and (min-width: 600px) {
  .fsheading {
    font-size: 3.25rem;
    line-height: 3.5rem;
  }

  .fstagline {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 768px) {
  .fsboxes {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (min-width: 889px) {
  .fsheading {
    width: 70vw;
    font-size: 3.25rem;
    line-height: 5rem;
  }

  .first-section {
    padding: 22vh 2rem;
    background-color: #f5bc9f;
  }

  .fstagline {
    font-size: 1.5rem;
    width: 75vw;
  }

  .fsboxes {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

  .topshape {
    height: 12vh;
  }

  .bottomshape {
    position: absolute;
    width: 100vw;
    height: 12vh;
    bottom: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .fsheading {
    width: 40vw;
    line-height: 4rem;
  }

  .fstagline {
    font-size: 1.2rem;
    width: 45vw;
  }

  .fsboxes {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
}
